html{
    scroll-behavior: smooth;/*Con esta propiedad css le estamos colocando una animacion al scrolling*/
}

body{
    font-family: sans-serif;
}

h1{
    color: navy;
}

img{
    max-width: 100%;
    height: auto; /*Esta es la regla de CSS para hacer una imagen responsive*/
}